body {
  font-family: "Roboto";
  background: rgb(216, 105, 31);
  background: radial-gradient(
    circle,
    rgb(216, 105, 31, 1) 0%,
    rgb(133, 55, 4, 1) 100%
  );
}

button {
  background-color: transparent;
  font-weight: bold;
  font-size: 16pt;
  color: white;
  border-radius: 10%;
  border: none;
  cursor: pointer;
}
